@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1170px;
}

h2{
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 6%;
}
p{
  font-size: 16px;
  line-height: 26px;
}

.slick-dots {
    bottom: 20px !important; 
    left: 90px  !important;
    width: 70%  !important;
}
.slick-dots li {
    background-color: #808080;
    border-radius: 100% !important;
  }
  
  li.slick-active{
  background-color: #DB4444 !important;
  border: 4px solid #DB4444 !important;
}