@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 570px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 990px;
  --breakpoint-xl: 1170px;
}


.slick-dots {
    bottom: 20px !important; 
    left: 120px  !important;
    width: 70%  !important;
}
.slick-dots li {
    margin: 0 6px;
    background-color: #808080;
    height: 12px !important;
    width: 12px !important;
    border-radius: 100% !important;
}

li.slick-active{
  background-color: #DB4444 !important;
  border: 4px solid #DB4444 !important;
}